@model Pager
@{ 
}
<div class="container ">
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination justify-content-end">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item ">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pag="1"> @localizer["First"]</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pag="@(Model.CurrentPage-1)">@localizer["Previous"]</a>
                </li>
            }
            @for (var pag = Model.StartPage; pag <= Model.EndPage; pag++)
            {
                <li class="page-item @(pag==Model.CurrentPage ? "active" :"")">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pag="@pag">@pag</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item ">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pag="@(Model.CurrentPage+1)"><span class="glyphicon next"></span>@localizer["Next"]</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-pag="@(Model.TotalPages)">@localizer["Last"]</a>
                </li>
            }
        </ul>
    }
</div>