@model List<NewsVM>
@using System.Globalization
@{
    string title;
    bool display;
    ViewData["Title"] = localizer["All News"];

    int nr = 0;
    Pager pager = new Pager();
    int pageNum = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNum = pager.CurrentPage;
        nr = (pager.CurrentPage - 1) * pager.PageSize;
    }
}
@if (Model.Any())
{
    <h1 class="font-kawla main-widget">  <span class="glyphicon glyphicon-list-alt font-40B "></span>  @localizer["All News"]</h1>



    <div class="row">
        @foreach (var item in Model)
        {
            title = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? item.Header : item.HeaderEn;
            display = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? item.DisplayInHome : item.DisplayInHomeEn;

            if (string.IsNullOrEmpty(title) || !display) continue;

            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="boxHomePageNews">


                    <a asp-action="NewsDetails" asp-controller="Home" asp-route-id="@item.Id">
                        <img src="~/NewsImages/@item.Image" class="img-responsive newsImageHeightHome" />
                        <h5>@item.CDate.ToString("dd-MM-yyyy HH:mm")</h5>
                        <h3 class="font-kawla">@title</h3>
                    </a>
                </div>
            </div>
        }


    </div>

}
<partial name="_PagerPartial" model="@pager" />