
@model EditUserVM

@{
    ViewData["Title"] = localizer["Manage User Roles"];
}


<h4>@localizer["Manage User Roles"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" disabled />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" readonly />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirmed" class="control-label"></label>
                <input type="checkbox" asp-for="EmailConfirmed" />
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Update"]" class="btn btn-danger" />
                <a asp-action="UserManage" asp-controller="Administration" class="btn btn-primary">@localizer["Cancel"]</a>
            </div>
            <div class="form-group">
                @if (Model.Roles.Any())
                {
                    <ul class="list-group">
                        <li class="list-group-item active">@localizer["List of Roles for User"]</li>
                        @foreach (var role in Model.Roles)
                        {
                            <li class="list-group-item">@role</li>
                        }
                    </ul>
                }
                else
                {
                    <span>@localizer["No Roles"]</span>
                }

            </div>
            <div class="form-group">
                <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id" asp-controller="Administration" class="btn btn-primary">@localizer["Manage Roles"]</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
